In [22]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import datetime
from dateutil.relativedelta import relativedelta
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import acf  
from statsmodels.tsa.stattools import pacf
from statsmodels.tsa.seasonal import seasonal_decompose
import glob as glob
matplotlib.style.use('ggplot')
import itertools

In [2]:
temperature = glob.glob("met18000/yr2001-2012/*.xls")

list_ = []
for file_ in temperature:
    df = pd.read_excel(file_)
    list_.append(df)
    allTemps = np.concatenate(list_)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [3]:
temp_df = pd.DataFrame(allTemps)
temp_df.columns = ['stn_name', 'stn_code', 'year', 'month', 'dday', 'maxtemp', 'mintemp', 'rain', 'avgrh', 'meantemp']

In [4]:
import re
# s = "Surat Thani Agromet"
# s = re.sub('[^0-9a-zA-Z ]+', '', s)
# print s

def clean_stn_name(name):
    if '\t' in name:
        cleaned_name = name.split('\t')[1]
        return re.sub('[^0-9a-zA-Z ]+', '', cleaned_name)
    else:
        return re.sub('[^0-9a-zA-Z ]+', '', name)

In [5]:
temp_df['stn_name'] = temp_df['stn_name'].astype('str').apply(clean_stn_name)

### map stn_code to stn_name for later use

In [6]:
dict_temp = []
for i in range(len(temp_df)):
    if i % 4383 == 0:
        code = temp_df.iloc[i].stn_code
        name = temp_df.iloc[i].stn_name
        dict_temp.append((code,name))
        
code_name = dict(dict_temp)

### "stn_name","stn_code","year","month","dday","maxtmp","mintmp","rain","avgrh","meantemp"

In [7]:
wrong_maxtemp = pd.read_excel("met18000/yr2013-2016/maxtemp-1.xls")
wrong_mintemp = pd.read_excel("met18000/yr2013-2016/mintemp-1.xls")
wrong_humidity = pd.read_excel("met18000/yr2013-2016/rh-1.xls")
wrong_rain = pd.read_excel("met18000/yr2013-2016/rain-1.xls")

## '410201' doesn't have full set of data -> eliminate it out

In [8]:
def structuring_data(arr):
    arr = arr.drop(arr.index[[0,1,2,3]])
    info = np.array(['idx','stn_code', 'date'])
    arr.columns = np.concatenate((info,np.array([str(i) for i in range(1,33)])))
    arr.drop('idx',axis=1,inplace=True)
    arr = arr.rename(columns={'32':'avg'})
    arr = arr.dropna()
    return arr

In [9]:
maxtemp = glob.glob("met18000/yr2013-2016/maxtemp-*.xls")
mintemp = glob.glob("met18000/yr2013-2016/mintemp-*.xls")
humidity = glob.glob("met18000/yr2013-2016/rh-*.xls")
rain = glob.glob("met18000/yr2013-2016/rain-*.xls")

# list_ = []
# for idx,file_ in enumerate(maxtemp):
#     df = pd.read_excel(file_)
#     df = structuring_data(df)
#     list_.append(df)
#     wrong_maxtemp = np.concatenate(list_)

In [10]:
def get_weather_xls(filenames):
    list_ = []
    for idx,file_ in enumerate(filenames):
        df = pd.read_excel(file_)
        df = structuring_data(df)
        list_.append(df)
        all_files = np.concatenate(list_)
    return all_files

In [11]:
wrong_maxtemp = pd.DataFrame(get_weather_xls(maxtemp))
wrong_mintemp = pd.DataFrame(get_weather_xls(mintemp))
wrong_humidity = pd.DataFrame(get_weather_xls(humidity))
wrong_rain = pd.DataFrame(get_weather_xls(rain))

In [12]:
all_provinces_maxtemp = wrong_maxtemp.ix[:,0].apply(clean_stn_name)
all_provinces_mintemp = wrong_mintemp.ix[:,0].apply(clean_stn_name)
all_provinces_humidity = wrong_humidity.ix[:,0].apply(clean_stn_name)
all_provinces_rain = wrong_rain.ix[:,0].apply(clean_stn_name)

In [13]:
def col_names(df):
    info = np.array(['stn_code', 'date'])
    df.columns = np.concatenate((info,np.array([str(i) for i in range(1,33)])))
    return df

def rm_lack_data(to_fix_data,provinces):
    counts = dict()
    bad_data = 0
    lack_data_row = []
    for i in provinces:
        counts[i] = counts.get(i,0) + 1
    
    for stn, freq in counts.iteritems():
        if freq < 45:
            bad_data = int(stn)
    
    for idx,ele in enumerate(provinces):
        if int(ele) == bad_data:
            lack_data_row.append(idx)
            
    to_fix_data = to_fix_data.drop(lack_data_row).reset_index(drop=True)
    fixed_data = to_fix_data
    return fixed_data

In [14]:
wrong_maxtemp = col_names(rm_lack_data(wrong_maxtemp,all_provinces_maxtemp))
wrong_mintemp = col_names(rm_lack_data(wrong_mintemp,all_provinces_mintemp))
wrong_humidity = col_names(rm_lack_data(wrong_humidity,all_provinces_humidity))
wrong_rain = col_names(rm_lack_data(wrong_rain,all_provinces_rain))

In [15]:
len(wrong_rain),len(wrong_maxtemp),len(wrong_mintemp),len(wrong_humidity)

(3060, 3060, 3060, 3015)

In [1410]:
# all data are here
# already combine them all into 4 different feature
# 
# seperate them by province (every 45 sets of data)

In [1411]:
k = [i+1 for i in range(12)]
for i in k:
    if i % 3 == 0:
        print i - 3, i

0 3
3 6
6 9
9 12

### temperature data is collected monthly since 2013-01-01 till 2016-09-01. 
#### That is 36 + 9 -> 45 months of data per every province

In [16]:
import re
def replace_dash(val):
    return re.sub('[^0-9. ]+', '0', val)

def clean_date(date):
    if str(date)[0] == "0":
        return str(date)[1]
    else:
        return date

def rm_extras(standard,n,arr):
    if n > 0:
        to_del_idx = np.random.choice(standard,n)
        arr = np.delete(arr,to_del_idx)
        return arr
    else:
        return arr

In [149]:
date_range = pd.date_range(start='2013-01-01 00:00:00',end='2016-09-03 00:00:00',freq='D')
date_range = pd.Series(date_range.astype('str'))
dday = date_range.str[-2:].apply(clean_date)
mth = date_range.str[5:7].apply(clean_date)
yr = date_range.str[:4]

In [150]:
len(dday)

1342

In [157]:
# calculate 45 data at a time
# for maxtemp and mintemp

# temp_df = pd.DataFrame(columns=['maxtemp','mintemp','avgrh','rain','date','dday','month','year'])
ls_ = []
ct = 0
for i in range(len(wrong_maxtemp)):
    if ((i+1) % 45) == 0:
        station_code = str(wrong_maxtemp.iloc[i].T[0][:6])
#         print station_code, ct
        station_name = code_name.get(int(station_code))
        ct += 1
        
        year_maxtemp = []
        year_mintemp = []
        year_humidity = []
        year_rain = []
        
        try:
            for j in range(i-44,i+1):

                max_monthly = wrong_maxtemp.iloc[j].T[2:-1]
                min_monthly = wrong_mintemp.iloc[j].T[2:-1]
                humid_monthly = wrong_humidity.iloc[j].T[2:-1]
                rain_monthly = wrong_rain.iloc[j].T[2:-1]

                year_maxtemp.append(max_monthly)
                year_mintemp.append(min_monthly)
                year_humidity.append(humid_monthly)
                year_rain.append(rain_monthly)

                a = np.array(list(itertools.chain.from_iterable(year_maxtemp)))
                b = np.array(list(itertools.chain.from_iterable(year_mintemp)))
                c = np.array(list(itertools.chain.from_iterable(year_humidity)))
                d = np.array(list(itertools.chain.from_iterable(year_rain)))

                max_rm = np.array([i for i,e in enumerate(a) if e =='-'])
                min_rm = np.array([i for i,e in enumerate(b) if e =='-'])
                humid_rm = np.array([i for i,e in enumerate(c) if e =='-'])

                a = np.delete(a,max_rm)
                a = a.astype('f')

                b = np.delete(b,min_rm)
                b = b.astype('f')

                c = np.delete(c,humid_rm)
                standard = len(a)
                c_to_del_n = len(c) - standard
                c = rm_extras(standard,c_to_del_n,c)
                c = c.astype('f')

                d = d[:-31]
                d_to_del_n = len(d) - standard
                d = rm_extras(standard,d_to_del_n,d)
                d = pd.Series(d).apply(replace_dash)

            padding = np.zeros((1342,4))

            padding[:,0] = np.append(a,[0 for i in range(1342-len(a))])
            padding[:,1] = np.append(b,[0 for i in range(1342-len(b))])
            padding[:,2] = np.append(c,[0 for i in range(1342-len(c))])
            padding[:,3] = np.append(d,[0 for i in range(1342-len(d))])

            padding_df = pd.DataFrame(padding)
            padding_df['dday'] = dday
            padding_df['month'] = mth
            padding_df['year'] = yr
            padding_df['stn_code'] = station_code
            padding_df['stn_name'] = station_name

            ls_.append(padding_df)

            new_temperature = np.concatenate(ls_)
        except:
            print "fail at", code_name.get(int(station_code))
            pass

303201 0

/Users/JohnnyV/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:41: DeprecationWarning: using a non-integer array as obj in delete will result in an error in the future
/Users/JohnnyV/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:44: DeprecationWarning: using a non-integer array as obj in delete will result in an error in the future
/Users/JohnnyV/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:47: DeprecationWarning: using a non-integer array as obj in delete will result in an error in the future

327501 1
357201 2
376201 3
381301 4
388401 5
402301 6
403201 7
423301 8
450201 9
451301 10
455201 11
459201 12
480301 13
501201 14
517301 15
566202 16
567201 17
331201 18
378201 19
379201 20
386301 21
400201 22
415301 23
419301 24
430201 25
431201 26
436201 27
465201 28
500201 29
552201 30
560301 31
561201 32
580201 33
583201 34
300201 35
310201 36
330201 37
353301 38
356301 39
383201 40
387401 41
405201 42
409301 43
424301 44
426201 45
478201 46
532201 47
564201 48
581301 49
351201 50
352201 51
354201 52
360201 53
373201 54
373301 55
407301 56
425301 57
429201 58
429601 59
432301 60
440401 61
551301 62
568301 63
570201 64
328201 65
329201 66
380201 67
fail at Kamphaeng Phet

In [162]:
fixed_temp_df = pd.DataFrame(new_temperature)
fixed_temp_df.columns = ['maxtemp','mintemp','avgrh','rain','dday','month','year','stn_code','stn_name']

In [177]:
null_idx = fixed_temp_df[(fixed_temp_df.maxtemp == 0) & 
              (fixed_temp_df.mintemp == 0) & 
              (fixed_temp_df.avgrh == 0) & 
              (fixed_temp_df.rain == 0)].index

fixed_temp_df = fixed_temp_df.drop(fixed_temp_df.index[[null_idx]])

     maxtemp mintemp avgrh  rain dday month  year stn_code    stn_name
1342    30.5    21.7    62     0    1     1  2013   327501  Chiang Mai
1343      31    20.1    67     0    2     1  2013   327501  Chiang Mai
1344      31    19.3    72     0    3     1  2013   327501  Chiang Mai
1345    31.5    19.7    71     0    4     1  2013   327501  Chiang Mai
1346    31.5    19.4    68     0    5     1  2013   327501  Chiang Mai
1347      31    18.5    71     0    6     1  2013   327501  Chiang Mai
1348    30.5      18    69     0    7     1  2013   327501  Chiang Mai
1349    30.6    17.4    70     0    8     1  2013   327501  Chiang Mai
1350    29.5    15.5    66     0    9     1  2013   327501  Chiang Mai
1351    29.6    14.7    67     0   10     1  2013   327501  Chiang Mai
1352      29    14.2    69     0   11     1  2013   327501  Chiang Mai
1353    29.5    14.1    61     0   12     1  2013   327501  Chiang Mai
1354    29.3    13.2    66     0   13     1  2013   327501  Chiang Mai
1355    28.7    15.6    70     0   14     1  2013   327501  Chiang Mai
1356      30      16    71     0   15     1  2013   327501  Chiang Mai
1357    30.6      17    67     0   16     1  2013   327501  Chiang Mai
1358    31.5    17.5    67     0   17     1  2013   327501  Chiang Mai
1359    30.2    18.6    67     0   18     1  2013   327501  Chiang Mai
1360      30    16.4    67     0   19     1  2013   327501  Chiang Mai
1361    30.6    15.9    64     0   20     1  2013   327501  Chiang Mai
1362    31.2    15.6    65     0   21     1  2013   327501  Chiang Mai
1363      32      16    63     0   22     1  2013   327501  Chiang Mai
1364    32.5      17    65     0   23     1  2013   327501  Chiang Mai
1365    33.2      17    63     0   24     1  2013   327501  Chiang Mai
1366    33.1    15.4    58     0   25     1  2013   327501  Chiang Mai
1367    32.1    13.9    58     0   26     1  2013   327501  Chiang Mai
1368      32    12.9    61     0   27     1  2013   327501  Chiang Mai
1369    31.5    13.6    65     0   28     1  2013   327501  Chiang Mai
1370      31    20.7    68     2   29     1  2013   327501  Chiang Mai
1371    29.9    20.8    80    23   30     1  2013   327501  Chiang Mai
...      ...     ...   ...   ...  ...   ...   ...      ...         ...
2649    33.7    25.1    82     0   31     7  2016   327501  Chiang Mai
2650    30.6      25    83  10.9    1     8  2016   327501  Chiang Mai
2651    32.5    25.5    80     1    2     8  2016   327501  Chiang Mai
2652    32.2    24.6    76     0    3     8  2016   327501  Chiang Mai
2653    33.7      24    74   2.5    4     8  2016   327501  Chiang Mai
2654    33.8    24.1    73   3.3    5     8  2016   327501  Chiang Mai
2655    33.5    26.1    77   5.1    6     8  2016   327501  Chiang Mai
2656    33.8    24.7    80     0    7     8  2016   327501  Chiang Mai
2657      31    25.7    87   1.9    8     8  2016   327501  Chiang Mai
2658    28.8    24.5    81   3.8    9     8  2016   327501  Chiang Mai
2659    30.5    24.5    92   1.3   10     8  2016   327501  Chiang Mai
2660    26.6    23.6    85   3.1   11     8  2016   327501  Chiang Mai
2661      32    24.1    80   4.9   12     8  2016   327501  Chiang Mai
2662    31.5    24.7    75   1.1   13     8  2016   327501  Chiang Mai
2663    33.3    25.1    75   3.5   14     8  2016   327501  Chiang Mai
2664    30.8    25.1    92     0   15     8  2016   327501  Chiang Mai
2665    28.5    23.6    79     0   16     8  2016   327501  Chiang Mai
2666    32.3    23.3    81  10.5   17     8  2016   327501  Chiang Mai
2667    33.6      24    85   1.6   18     8  2016   327501  Chiang Mai
2668    31.8    24.5    82     0   19     8  2016   327501  Chiang Mai
2669    33.6    25.2    79  15.1   20     8  2016   327501  Chiang Mai
2670    34.5    23.5    86   0.5   21     8  2016   327501  Chiang Mai
2671    31.8    24.5    89    27   22     8  2016   327501  Chiang Mai
2672    30.6    25.4    88  21.3   23     8  2016   327501  Chiang Mai
2673    31.7    24.7    83     0   24     8  2016   327501  Chiang Mai
2674    33.5    24.7    79   1.3   25     8  2016   327501  Chiang Mai
2675      34      25    78   9.6   26     8  2016   327501  Chiang Mai
2676    34.3    25.6    78   1.3   27     8  2016   327501  Chiang Mai
2677    33.9    25.4    74     0   28     8  2016   327501  Chiang Mai
2678    33.2    25.2    84     0   29     8  2016   327501  Chiang Mai

[1337 rows x 9 columns]

In [1339]:
year_maxtemp = []
year_mintemp = []
year_humidity = []
year_rain = []

station_code = str(wrong_maxtemp.iloc[0].T[0][:6])
station_name = code_name.get(int(station_code))

for i in range(45):
    
    max_monthly = wrong_maxtemp.iloc[i].T[2:-1]
    min_monthly = wrong_mintemp.iloc[i].T[2:-1]
    humid_monthly = wrong_humidity.iloc[i].T[2:-1]
    rain_monthly = wrong_rain.iloc[i].T[2:-1]
    
    year_maxtemp.append(max_monthly)
    year_mintemp.append(min_monthly)
    year_humidity.append(humid_monthly)
    year_rain.append(rain_monthly)

In [1342]:
import itertools
a = np.array(list(itertools.chain.from_iterable(year_maxtemp)))
b = np.array(list(itertools.chain.from_iterable(year_mintemp)))
c = np.array(list(itertools.chain.from_iterable(year_humidity)))
d = np.array(list(itertools.chain.from_iterable(year_rain)))

max_rm = np.array([i for i,e in enumerate(a) if e =='-'])
min_rm = np.array([i for i,e in enumerate(b) if e =='-'])
humid_rm = np.array([i for i,e in enumerate(c) if e =='-'])

a = np.delete(a,max_rm)
a = a.astype('f')

b = np.delete(b,min_rm)
b = b.astype('f')

c = np.delete(c,humid_rm)
c_to_del_n = len(c) - len(a)
c = rm_extras(c_to_del_n,c)
c = c.astype('f')

d = d[:-31]
d_to_del_n = len(d) - len(a)
d = rm_extras(d_to_del_n,d)
d = pd.Series(d).apply(replace_dash)


all_columns = {'maxtemp':a,'mintemp':b,'avgrh':c,'rain':d,'date':date_range,'dday':dday,'month':mth,'year':yr}
cr_temp = pd.DataFrame(all_columns)
cr_temp['stn_name'] = [station_name for i in xrange(len(cr_temp))]
cr_temp['stn_code'] = [station_code for i in xrange(len(cr_temp))]

In [971]:
cr_temp.head()

,avgrh,date,dday,maxtemp,mintemp,month,rain,year,stn_name,stn_code
0,73.0,2013-01-01,1,28.000000,18.400000,1,0,2013,Chiang Rai,303201
1,75.0,2013-01-02,2,28.900000,17.500000,1,0,2013,Chiang Rai,303201
2,78.0,2013-01-03,3,28.500000,17.799999,1,0,2013,Chiang Rai,303201
3,77.0,2013-01-04,4,30.299999,17.500000,1,0,2013,Chiang Rai,303201
4,76.0,2013-01-05,5,30.200001,16.799999,1,0,2013,Chiang Rai,303201

In [943]:
naja = pd.concat([helpp,cr_temp.head()])

In [944]:
naja

,avgrh,date,dday,maxtemp,meantemp,mintemp,month,rain,stn_code,stn_name,year
0,76,NaN,1,29.5,21.2,13,1,0,303201,Chiang Rai,2001
1,75,NaN,2,30,21.1,12.3,1,0,303201,Chiang Rai,2001
2,74,NaN,3,30.5,21.4,12.4,1,0,303201,Chiang Rai,2001
3,75,NaN,4,30.4,21.6,12.9,1,0,303201,Chiang Rai,2001
4,76,NaN,5,30.3,21.7,13.2,1,0,303201,Chiang Rai,2001
0,73,2013-01-01,1,28,NaN,18.4,1,0,303201,Chiang Rai,2013
1,75,2013-01-02,2,28.9,NaN,17.5,1,0,303201,Chiang Rai,2013
2,78,2013-01-03,3,28.5,NaN,17.8,1,0,303201,Chiang Rai,2013
3,77,2013-01-04,4,30.3,NaN,17.5,1,0,303201,Chiang Rai,2013
4,76,2013-01-05,5,30.2,NaN,16.8,1,0,303201,Chiang Rai,2013

### there should be 1339 days worth of data

Both mintemp and maxtemp data show that there are only 1339 days but others might be less. so, we just stick to 1339 days as a standard.

In [489]:
import itertools
a = np.array(list(itertools.chain.from_iterable(year_maxtemp)))
b = np.array(list(itertools.chain.from_iterable(year_mintemp)))
c = np.array(list(itertools.chain.from_iterable(year_humidity)))
d = np.array(list(itertools.chain.from_iterable(year_rain)))
max_rm = np.array([i for i,e in enumerate(a) if e =='-'])
min_rm = np.array([i for i,e in enumerate(b) if e =='-'])
humid_rm = np.array([i for i,e in enumerate(c) if e =='-'])
a = np.delete(a,max_rm)
b = np.delete(b,min_rm)
c = np.delete(c,humid_rm)
a = a.astype('f')
b = b.astype('f')
c = c.astype('f')

In [435]:
a = '-'
re.sub('[^0-9]+', '0', a)

'0'

In [457]:
all_columns = {'maxtemp':a,'mintemp':b,'avgrh':c}
cr_temp = pd.DataFrame(all_columns)
cr_temp['stn_name'] = [stn_[0] for i in xrange(len(cr_temp))]

In [537]:
810./45

18.0

In [830]:
normal_yr = [31,28,31,30,31,30,31,31,30,31,30,31]
leap_yr = [31,29,31,30,31,30,31,31,30,31,30,31]

12

In [ ]:
# wrong_maxtemp = wrong_maxtemp.drop(wrong_maxtemp.index[[0,1,2,3]])
# info = np.array(['idx','stn_code', 'date'])
# wrong_maxtemp.columns = np.concatenate((info,np.array([str(i) for i in range(1,33)])))
# wrong_maxtemp.drop('idx',axis=1,inplace=True)
# wrong_maxtemp = wrong_maxtemp.rename(columns={'32':'avg'})
# wrong_maxtemp = wrong_maxtemp.dropna()
# wrong_maxtemp = structuring_data(wrong_maxtemp)

In [ ]:
# wrong_mintemp = wrong_mintemp.drop(wrong_mintemp.index[[0,1,2,3]])
# info = np.array(['idx','stn_code', 'date'])
# wrong_mintemp.columns = np.concatenate((info,np.array([str(i) for i in range(1,33)])))
# wrong_mintemp.drop('idx',axis=1,inplace=True)
# wrong_mintemp = wrong_mintemp.rename(columns={'32':'avg'})
# wrong_mintemp = wrong_mintemp.dropna()
# wrong_mintemp = structuring_data(wrong_mintemp)

In [ ]:
# wrong_humidity = wrong_humidity.drop(wrong_humidity.index[[0,1,2,3]])
# info = np.array(['idx','stn_code', 'date'])
# wrong_humidity.columns = np.concatenate((info,np.array([str(i) for i in range(1,33)])))
# wrong_humidity.drop('idx',axis=1,inplace=True)
# wrong_humidity = wrong_humidity.rename(columns={'32':'avg'})
# wrong_humidity = wrong_humidity.dropna()
# wrong_humidity = structuring_data(wrong_humidity)

In [ ]:
# wrong_rain = wrong_rain.drop(wrong_rain.index[[0,1,2,3]])
# info = np.array(['idx','stn_code', 'date'])
# wrong_rain.columns = np.concatenate((info,np.array([str(i) for i in range(1,33)])))
# wrong_rain.drop('idx',axis=1,inplace=True)
# wrong_rain = wrong_rain.rename(columns={'32':'avg'})
# wrong_rain = wrong_rain.dropna()
# wrong_rain = structuring_data(wrong_rain)

In [ ]:
# year_maxtemp = []
# year_mintemp = []
# year_humidity = []
# year_rain = []
# stn_ = []
# for i in range(45):
#     stn = str(wrong_maxtemp.iloc[i].T[0][:6])
#     station_name = code_name.get(int(stn))
#     max_monthly = wrong_maxtemp.iloc[i].T[2:-1]
#     min_monthly = wrong_mintemp.iloc[i].T[2:-1]
#     humid_monthly = wrong_humidity.iloc[i].T[2:-1]
#     rain_monthly = wrong_rain.iloc[i].T[2:-1]
#     stn_.append(station_name)
#     year_maxtemp.append(max_monthly)
#     year_mintemp.append(min_monthly)
#     year_humidity.append(humid_monthly)
#     year_rain.append(rain_monthly)